<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/8093dc5ac1.js" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"> -->
    <title><%= pageTitle %></title>


    <header>
      <div id="navDiv" hidden>
        <%- include('nav') %>
      </div>

      <div id="headerContent">
      <h1>Poetry Popper</h1>
      <i id="menuIcon" onclick="menuOnClick()" class="fas fa-solid fa-bars"></i>
    </div>
    </header>

    <p class="loggedInUser">Logged in user: <%=user%></p>

    <script>
      function menuOnClick() {
        const navDiv = document.getElementById('navDiv');
        const menuIcon = document.getElementById('menuIcon');
        if (navDiv.hidden) {
          navDiv.hidden = false;
          menuIcon.classList = ""
          menuIcon.innerText = "X";
        } else {
          navDiv.hidden = true;
          menuIcon.classList = "fas fa-solid fa-bars";
          menuIcon.innerText = "";
        }
      }
    </script>
