<meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css">
    <script src="https://kit.fontawesome.com/8093dc5ac1.js" crossorigin="anonymous"></script>

    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.min.css"> -->
    <title><%= pageTitle %></title>

    <header>
      <div id="headerContent">
      <h1>Poetry Popper</h1>
      <p>Get inspired by others and create great new art!</p>
      <i class="fas fa-solid fa-bars"></i>
    </div>
    </header>