<nav> 
    <% if (isAuth) { %>
        <p class="colorBlack padding10">Logged in user: <%=user%></p>

        <ul id="authMenu">
            <li><a href="/yourwork">Your work</a></li>
            <li><a href="/poems">Community</a></li>
            <li><a href="/notfound">Saved collections</a></li>
            <li><a href="/">About</a></li>
            <li><a href="/account">Your account</a></li>
            <li><a href="/createpoem">New poem</a></li>
            <button id="logOutButton"><a href="/logout">Logout</a></button>
        </ul>
    <% } else { %> 
        <ul id="nonAuthMenu">
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    <% } %> 

</nav>
