<nav> 
    <% if (isAuth) { %>
        <ul >
            <li><a href="">Your work</a></li>
            <li><a href="/poems">Community</a></li>
            <li><a href="">Saved collections</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="/createpoem">New poem</a></li>
            <button><a href="/logout">Logout</a></button>
        </ul>
        <!-- <button class="btn"><a href="/logout">Logout</a></button> -->
    <% } else { %> 
        <button class="btn"><a href="/login">Login</a></button>
        <button class="btn"><a href="/register">Register</a></button>
    <% } %> 
</nav>