<nav> 
    <h2>test</h2>
    <% if (isAuth) { %>
        <ul id="authMenu">
            <li><a href="">Your work</a></li>
            <li><a href="/poems">Community</a></li>
            <li><a href="">Saved collections</a></li>
            <li><a href="">About</a></li>
            <li><a href="">Settings</a></li>
            <li><a href="/createpoem">New poem</a></li>
            <button id="logOutButton"><a href="/logout">Logout</a></button>
        </ul>
    <% } else { %> 
        <ul id="nonAuthMenu">
           <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
        </ul>
    <% } %> 
</nav>