<html lang="en">
  <head>
    <%- include('partials/header') %> 
  </head>
  <body>
    <%- include('partials/serverMessage') %>
    <main>
    <h1 class="alignCenter">Login</h1>

    <form action="/login" method="POST">
      <div id="loginDiv" class="logRegDiv">
      <input type="text" placeholder="username" name="username" />
      <input type="password" placeholder="password" name="password" />
      <button class="btn" type="submit">Submit</button>
    </div>
    </form>

  </main>
  </body>
</html>