<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/nav') %>
    <%- include('partials/serverMessage') %>
    <main>
    <h1>Read poem</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat tempora
      voluptate id qui. Expedita suscipit, perferendis illum quos inventore esse
      a! Cupiditate autem perferendis neque sint fugit est molestiae tempora.
    </p>



  </main>
  </body>
</html>