<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/serverMessage') %>
    <main>
    <h1 class="alignCenter">Register</h1>

    <form action="/register" method="POST">
      <div class="logRegDiv">
      <input type="text" placeholder="username" name="username" />
      <input type="text" placeholder="password" name="password" />
      <!-- <input type="text" placeholder="password2" name="password2" /> -->
      <button type="submit">Submit</button>
    </div>
    </form>

  </main>
  </body>
</html>