<html lang="en">
  <head>
    <%- include('partials/header') %>
  </head>
  <body>
    <%- include('partials/serverMessage') %>
    <main>
    <h1 class="alignCenter marginBottom30">Register</h1>

    <form action="/register" method="POST">
      <div class="logRegDiv">
      <input type="text" placeholder="username" name="username required" />
      <input type="password" placeholder="password" name="password required" />
      <button class="marginTop30" type="submit">Submit</button>
    </div>
    </form>

  </main>
  </body>
</html>