@import url('https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Syne Mono', monospace;
    max-width: 500px;
    height: 100vh;
    margin: auto;
    position: relative;
}

.fa-bars {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 2rem;
}

i {
  margin: 0 5px;
}

h1, h2, h3, h4 {
  margin: 20px 0;
}

input {
  padding: 10px;
  border-radius: 100px;
  border: none;
  margin: 5px 0;

  background-color: #D9D9D9;
  border-radius: 10px;
  border-radius: 10px;
  box-shadow: inset 5px 5px 10px #c1c1c1,
              inset -5px -5px 10px #ffffff;
}

.poemContent {
  display: flex;
  flex-direction: column;
}

#createpoem {
  min-height: 100px;
  border-radius: 10px;
}
#createTitle {
  border-radius: 10px;
}

#textAreaDiv {
  /* height: 300px; */
}

#editPoem {
  border: none;
  font-size: 1.5rem;

  /* overflow: hidden; */
  width: 100%;
  height: 50vh;

  resize: none;
}

#editPoem:focus {
  outline: none;
}

#thepoem {
  white-space: pre-line;
  text-align: left;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #6D213C;
  color: white;
}

#poemLi {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

button a {
  color: white;
}

ul {
  list-style: none;
}

main {
  padding: 20px;
}

header {
  padding: 20px;
  background-color: #6D213C;
  min-height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 250, 243);
  position: relative;
  margin-bottom: 20px;
}

.loggedInUser {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

#headerContent {
  text-align: center;
}

.success {
    color: green;
  }

  .fail {
    color: orange;
  }

  .commentDiv {
    margin: 20px 0;
  }

.commentPostedBy {

}

.comment {

}

